<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="./tests/bootstrap.php"
    requireCoverageMetadata="true"
    beStrictAboutCoverageMetadata="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd"
    cacheDirectory=".phpunit.cache">
  <php>
    <ini name="memory_limit" value="-1"/>
    <ini name="apc.enable_cli" value="1"/>
  </php>
  <testsuites>
    <testsuite name="BEdita/ImportTools">
      <directory>./tests/TestCase/</directory>
    </testsuite>
  </testsuites>
  <extensions>
    <bootstrap class="\Cake\TestSuite\Fixture\Extension\PHPUnitExtension"/>
  </extensions>
  <source>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
  </source>
</phpunit>
